/* *{
    margin: 0;
} */
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

  /* Shared Style */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
/* dark 02 */
.text-dark02{
    color: rgb(66, 66, 66);
}
/* dark 02 */
.text-dark03{
    color: #727272;
}
.text-primary{
    color:  rgb(255, 144, 14);
}
.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25em;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
  /* Header */

  
  /* Nav bar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    
   
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
}
.navbar,.banner,.teams,.some-fact{
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner related style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner-description{
    margin-bottom: 15px;
    color:#727272
}
.banner-image{
    width: 100%;
}
/* Team and features */

.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-bottom: 50px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.feature-description{
    margin-bottom: 24px;
}
#quick-list{
    font-weight: 500;
}
/* Features Section style */
.features{
    gap: 140px;
}
#feature-section-title{
    padding-left: 21px;
    border-left: 5px solid #FF900E; 
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    border-radius: 10px;
}
.feature-card,.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-image img{
    width: 100%;

}

/* Same Fact Card */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.fact-description{
    max-width: 540px;
    margin-bottom: 10px;
}
.fact-card{
    border: 1px solid rgb(255, 144, 14);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* Responsive Media Query */

@media screen and (max-width:576px) {
    .navbar,.nav-links,.teams,.features{
        flex-direction: column;
    }
    .team-img-container,.sponsor-companies,.facts-container,.features{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container,.sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 20px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
/* Medium size devices */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams,.features{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
    .sponsor-companies,.facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}